.projekt_header {
  padding-top: 132px;
  position: relative;
  display: flex;
  gap: 60px;
  padding-bottom: 60px;
}

.projekt_header h1 {
  position: absolute;
  top: 120px;
  font-size: clamp(5.3125rem, 1.9922rem + 5.3125vw, 10.625rem);
  font-weight: 800;
  font-family: var(--mulish);
  /* color: var(--main-bg-color); */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.mainimg_wrapper {
  margin-top: 160px;
  width: 47vw;
}

.mainimg {
  width: 100%;
  height: 64vh;
  object-fit: cover;
  object-position: 0 0;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.gallery_wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 12px;
  overflow-x: scroll;
  padding-block: 12px;
}

.gallery_wrapper::-webkit-scrollbar {
  height: 8px;
}

.gallery_wrapper img {
  height: 12vw;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.projekt_content_wrapper {
  width: 48vw;
  display: flex;
  gap: 20px;
}

.green_deko_div {
  background-color: var(--main-color);
  width: 24%;
  max-width: 35px;
  border-radius: 10px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.06);
}

.green_content {
  padding-top: 160px;
  border-radius: 10px;
  padding-inline: 25px;
  padding-bottom: 30px;
  color: var(--main-bg-color);
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.06);
}

.green_content h2 {
  font-family: var(--mulish);
  margin-bottom: 10px;
  font-size: clamp(1.875rem, 0.7813rem + 1.25vw, 2.8125rem);
}

.green_content p {
  font-family: Inter;
  font-size: clamp(1rem, 0.4886rem + 0.5455vw, 1.375rem);
  line-height: 165%;
  opacity: 0.9;
}

.projekt_tech_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 26px;
}

.projekt_features {
  margin-top: 26px;
}
.projekt_features p {
  margin-bottom: 10px;
}

.projekt_features span {
  font-weight: 800;
}

.no_scroll {
  overflow: hidden;
  -ms-overflow-style: none; /* IE und Edge */
  scrollbar-width: none; /* Firefox */
}

.no_scroll::-webkit-scrollbar {
  display: none;
}

.projekt_link_wrapper {
  display: flex;
  gap: 12px;
  font-size: clamp(1.125rem, 0.4432rem + 0.7273vw, 1.625rem);
  margin-top: 30px;
  font-family: var(--mulish);
  font-weight: 700;
}

.projekt_link_wrapper a {
  text-decoration: underline;
}

@media only screen and (max-width: 1026px) {
  .projekt_header h1 {
    font-size: 75px;
  }
}

@media only screen and (max-width: 940px) {
  .projekt_header h1 {
    font-size: 60px;
    padding-left: 25px;
  }
  .projekt_header {
    flex-direction: column-reverse;
    padding-top: 100px;
  }
  .projekt_content_wrapper {
    width: 100%;
  }
  .green_content {
    padding-top: 140px;
  }
  .mainimg_wrapper {
    margin-top: 60px;
    width: 100%;
  }
  .gallery_wrapper img {
    height: 25vw;
  }
  .mainimg {
    height: 90vw;
  }
}

@media only screen and (max-width: 750px) {
  .projekt_header h1 {
    font-size: 42px;
  }
  .green_content {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 550px) {
  .projekt_header h1 {
    font-size: 32px;
  }
  .green_content {
    padding-top: 90px;
  }
  .green_content h2 {
    font-size: 26px;
  }
  .green_content p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 410px) {
  .projekt_header h1 {
    font-size: 26px;
  }
  .green_content {
    padding-top: 70px;
  }
  .green_content h2 {
    font-size: 22px;
    margin-bottom: 6px;
  }
  .green_content p {
    font-size: 14px;
  }
  .mainimg_wrapper {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1600px) {
  .green_content {
    padding-top: 10vw;
  }
  .mainimg_wrapper {
    margin-top: 10vw;
  }
}
