.img_popup_sec {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3vw;
  justify-content: space-between;
  padding-inline: 10vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: all 0.4s ease-in;
  animation: popup-bg 0.4s forwards;
}

@keyframes popup-bg {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.img_popup_sec::-webkit-scrollbar {
  display: none;
}

.img_popup_sec button {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.4s ease;
}

.img_popup_sec button:hover {
  opacity: 0.9;
}

.img_popup_sec img {
  max-height: 90vh;
  max-width: 65vw;
  object-fit: cover;
  animation: popup-img 0.6s forwards;
}

@keyframes popup-img {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
    scale: 0.95;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}

.img_popup_sec .closing_btn {
  position: absolute;
  color: white;
  top: 5vh;
  right: 6vw;
  opacity: 0.9;
  font-family: var(--mulish);
  font-size: 20px;
}

.hide {
  opacity: 0;
  scale: 0;
}

@media only screen and (max-width: 1026px) {
  .img_popup_sec img {
    max-width: 80vw;
  }
  .img_popup_sec button:nth-of-type(2) {
    position: absolute;
    top: 49vh;
    right: 10px;
    z-index: 5;
  }
  .img_popup_sec button:nth-of-type(1) {
    position: absolute;
    top: 49vh;
    left: 10px;
    z-index: 5;
  }
  .img_popup_sec button svg {
    height: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .img_popup_sec button:nth-of-type(2) {
    position: absolute;
    bottom: -35vh;
    right: 30vw;
    z-index: 5;
  }
  .img_popup_sec button:nth-of-type(1) {
    position: absolute;
    bottom: -35vh;
    left: 30vw;
    z-index: 5;
  }
  .img_popup_sec button svg {
    height: 45px;
  }
}
