.quote_section {
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 6vw;
}

.quote_section blockquote {
  font-size: 24px;
  max-width: 64ch;
  margin-inline: auto;
  line-height: 150%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--bright-text-color);
}

.quote_section div {
  display: flex;
  gap: 6px;
  margin-top: 16px;
}

.quote_section p {
  display: block;
  font-family: var(--mulish);
  color: var(--main-color);
  font-size: 18px;
  /* opacity: 0.9; */
}

.quote_section p:first-of-type {
  margin-bottom: -10px;
}

.quote_section blockquote span:nth-of-type(2) {
  font-size: 17px;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeInLetter 0.5s forwards;
}

@keyframes fadeInLetter {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 709px) {
  .quote_section {
    min-height: 60svh;
  }
  .quote_section blockquote {
    font-size: 18px;
  }
  .quote_section p {
    font-size: 16px;
  }
}
