@font-face {
  font-family: Mulish;
  src: url(/fonts/mulish/Mulish-VariableFont_wght.ttf);
}

@font-face {
  font-family: Abhaya Semibold;
  src: url(/fonts/abhaya/abhayalibre/AbhayaLibre-SemiBold.ttf);
}

@font-face {
  font-family: Abhaya ExtraBold;
  src: url(/fonts/abhaya/abhayalibre/AbhayaLibre-ExtraBold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  background-color: var(--main-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}
:root {
  --main-color: #183d3d;
  --main-color-gradient: radial-gradient(circle at top left, #183d3d, #0b2129);
  --main-bg-color: #ffffff;
  --dark-text-color: #25313c;
  --mid-text-color: #636363;
  --bright-text-color: #6d7d8b;
  --whitest-text-color: #f9fefe;
  --mulish: Mulish;
  --abhaya-semibold: Abhaya Semibold;
  --abhaya-extrabold: Abhaya ExtraBold;
}

.container {
  padding-inline: 5%;
}

.btn {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  padding: 11px 19px;
  border-radius: 0 10px 2px 10px;
  font-family: var(--mulish);
  font-weight: bold;
  font-size: 16px;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: var(--bright-text-color);
}

.no_btn {
  background-color: unset;
  border: unset;
}

.active {
  color: var(--dark-text-color);
  font-weight: 600;
}

button {
  all: unset;
}

/* scrollbar styling */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
  border-left: 0.5px solid var(--mid-text-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-gradient);
}
